:root{
    --primary-color:gold;
    --primary-color-contrast:gray;
}
.container{
    
    background-color: azure;
}
#chaker{
    padding: 20px;
}
#chakerImage{
    padding:20px;
}
#tao{
    padding: 20px;
}
#taoImage{
    padding: 20px;
}