
body{
    background-color:whitesmoke;
}

.contents.main-section{
    background-color: bisque;
    opacity: 0.9;
}

#about{
    
    
    padding: 30px;
    margin-right: 50px;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    
    font-size: 20px;
    color: rgba(21, 101, 132, 0.998);

}
