/* imported Fonts for header */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Fonts for the paragraphs */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/* Removes any auto web margins and paddings */
*{
    margin: 0;
    padding: 0;
}

/* body */
body{
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color:white;   
}
/* display */
.top-nav{
    display: grid;
    grid-template-columns: 2fr 2fr;   
}

/* Nav-bar separation */
.top-nav.resources{

    padding-left: 430px;
}
/* nav-backg color and padding */
.top-nav ul{
    list-style: none; 
    background-color: #949783;

    padding: 20px;
}
/* hovering time and text color */
 .top-nav a{
    display:ruby-base-container;
    color: white;
    padding: 18px;
    transition: all 0.3s; 
}
/* hover plus color */
.top-nav a:hover{
    background-color: rgb(71, 170, 107);
}

/* Title */
/* display */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}

/* backg color and margins/padding */
.title{
    /* background-color: var(--primary-color); */
    margin-right: 15%;
    margin-left: 15%;

    padding-top: 20px ;
    padding-bottom: 0px;
    /*padding: 30px;*/
}

/* contents and main part of page */
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* background-color: azure; */
    gap: 20px;
    margin: 10px;
}

/* This is the precedence how to make changes to the contents withing the grid. 
uncomment these to bring any changes. */
/* .contents.contents-list{
    padding-top: 100px;
}
.contents.main-section{
    padding-top: 300px;
} */

/* grid padding/margin */
.contents{
    /* border: 2px solid rgb(158, 56, 154); */
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

:root{
    --primary-color:rgba(153, 173, 102, 0.904);
    --primary-color-contrast:gray;
}
/*Intro Reading material  */
.intro-paragraph{
    text-indent: 30px;
    line-height: 1.7;
    padding-bottom: 20px;
}

#meditating-women{
    padding-left: 120px;
}
.contents.contents-list{
    padding-top:150px;
}
.contents.contents-list #get-help{
    font-size: 25px;
    padding-left: 43px;
    padding-bottom: 20px;
}
.contents.contents #helpline{
    color:black;
    /* background-color:rgb(164, 113, 41); */
    display: block;
    padding: 18px;
    font-size: 19px;
    line-height: 1.6;
    text-decoration: none;
    border: 8px solid var(--primary-color);
    border-radius:40px;
}
.contents.contents-list #helpline:hover{
    display: block;
    color:rgb(168, 58, 178);
    transition: all 0.4s;
}

/* Peace around World paragraph */
.title-peace{
    padding-left: 320px;
    padding-top: 100px ;
    padding-bottom: 15px;
}

#peace-para{
    
    padding-top: 5px;
    line-height: 1.6;
    text-indent: 25px;
}
#peace-video{
   padding-left: 180px;
}
/* footer */
footer{
    background-color:#949783;
}
footer ul{
    list-style: none;
}
/* fixing footer at the bottom */
footer {
    display: grid;
    grid-template-columns:auto 1fr auto ;
    margin:10px;
    bottom: 0; 
    width: 98.5%;  
    /* position: fixed; */
    height: 200px;
}
/* coloring the text */
footer nav a{
    display: block;
    color:white;
}
/* hovering footer */
footer nav ul li a:hover{
    display: block;
    color: rgb(70, 65, 146);
    transition: all 0.5s;  
}
footer nav ul li {
    padding: 15px;
    margin-left: 40px; 
}

/* Social links */
footer #social li {
    padding-right: 40px;
    padding-top: 25px;
    font-size: 25px; 
    
} 
footer #social ul{
    list-style: none;
}
footer #social ul{
    display: grid;
    justify-content: right;
}
/* grid display and hovering */
footer #social ul li{
    display:grid ;
    justify-content: center;
    align-items: center;
}
footer #social ul a:hover{
    display: block;
    color: rgb(190, 110, 67);
    transition: all 0.5s;  
}