.contents{
    border: 2px solid rgb(158, 56, 154);
  
}
:root{
    --primary-color:gold;
    --primary-color-contrast:gray;
}
.container{
    
    background-color: azure;
}
a{
    list-style: none;
}
.contents.main-section a{
    text-decoration: none;
    border-bottom: 5px solid gray;
}